@model PaginatedList<Product>
@{
    int counter = 0;
}

<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <h1>Products:</h1>
        <a asp-action="create" asp-controller="product" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Category</th>
                <th scope="col">ProductCode</th>
                <th scope="col">PosterImage</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Desc</td>
                    <td>@item.Category.Name</td>
                    <td>@item.ProductCode</td>
                    <td><img style="width:130px" src="~/uploads/products/@item.ProductImages.Where(x=>x.IsPoster==true).FirstOrDefault().Url" alt="Product Image" /></td>
                    <td>
                        <a asp-action="update" asp-controller="product" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-controller="product" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPrev ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNext ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
@* <div>
<ul class="pagination justify-content-center mt-30">
    <li><a href="#"><i class="fal fa-chevron-left"></i></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#"><i class="fal fa-chevron-right"></i></a></li>
</ul>
</div>
 *@